<div class="row mt-3">
    <div class="container">
        <div class="row">
            <div class="col12">
                <div class="card bg-dark text-white width100">
                    <img class="card-img-top overlay width100" src="assets/contact.jpg" alt="Card image">
                    <div class="card-img-overlay">
                        <h4 class="card-title">Drop me a line</h4>
                        <p class="card-text">077505557449</p>
                        <div class="card-text">
                            <ul>
                                <li>Solutions planning and delivery</li>
                                <li>Team coaching.</li>
                                <li>Life Coaching</li>
                                <li>FacilitatiON</li>
                            </ul>
                        </div>
                        <p class="card-text">The home page of my site has been developed using <a href="http://www.omdbapi.com/">OMDb API</a></p>
                        <p>All images are from <a href="https://www.pexels.com/">Pexels</a></p>

                        <div class="LI-profile-badge" data-version="v1" data-size="medium" data-locale="en_US" data-type="vertical" data-theme="dark" data-vanity="sajid4riaz">
                            <a class="LI-simple-link" href='https://uk.linkedin.com/in/sajid4riaz?trk=profile-badge' target="_blank">Click here to view my profile on LinkedIn</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>