<div class="row">
    <div class="col">
        <div class="card mb-3">
            <div class="row no-gutters">
                <div class="col-md-4 pt-125">
                    <div [ngSwitch]="movie.Poster === 'N/A' || movie.Poster !== 'N/A'">
                        <img class="img-responsive" *ngSwitchCase="movie.Poster !== 'N/A'" src="{{movie.Poster}}" class="card-img" [alt]="movie.Title">
                        <img class="img-responsive" *ngSwitchCase="movie.Poster === 'N/A'" class="card-img" alt="[movie.Title]" src="http://www.novelupdates.com/img/noimagefound.jpg">
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <div class="card-header movie-header">
                            <h5 class="card-title inline">{{movie.Title}}</h5>
                            <a href="#" class="float-right" (click)="onBack()">
                                <span>...Search</span>
                            </a>
                        </div>
                        <p class="card-text mt-1 mb-1"><strong>{{movie.Plot}}</strong></p>
                        <dl class="row movie-details">
                            <dt class="col-sm-3">Released:</dt>
                            <dd class="col-sm-9">{{movie.Released}}</dd>
                            <dt class="col-sm-3">Awards:</dt>
                            <dd class="col-sm-9">{{movie.Awards}}</dd>
                            <dt class="col-sm-3">Production:</dt>
                            <dd class="col-sm-9">{{movie.Production}}</dd>
                            <dt class="col-sm-3">Actors:</dt>
                            <dd class="col-sm-9">{{movie.Actors}}</dd>
                            <dt class="col-sm-3">Country:</dt>
                            <dd class="col-sm-9">{{movie.Country}}</dd>
                            <dt class="col-sm-3">Director:</dt>
                            <dd class="col-sm-9">{{movie.Director}}</dd>
                            <dt class="col-sm-3">Writer::</dt>
                            <dd class="col-sm-9">{{movie.Writer}}</dd>
                            <dt class="col-sm-3">Genre:</dt>
                            <dd class="col-sm-9">{{movie.Genre}}</dd>
                            <dt class="col-sm-3">Language:</dt>
                            <dd class="col-sm-9">{{movie.Language}}</dd>
                            <dt *ngIf="movie && movie.Ratings && movie.Ratings.length > 0" class="col-sm-3">Ratings:</dt>
                            <dd class="col-sm-9">
                                <dl *ngFor="let r of movie.Ratings" class="row">
                                    <dt class="col-sm-4">{{r.Source}}:</dt>
                                    <dd class="col-sm-8">{{r.Value}}</dd>
                                </dl>
                            </dd>
                        </dl>
                    </div>
                    <div class="container text-center">
                        <div class="row">
                            <div class="col-12 mb-3">
                                <a class="carousel-control-prev text-dark" href="#myCarousel" role="button" data-slide="prev">
                                    <span class="fa fa-chevron-left" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="carousel-control-next text-dark" href="#myCarousel" role="button" data-slide="next">
                                    <span class="fa fa-chevron-right" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>
                        </div>
                        <div class="row">
                            <div id="myCarousel" class="carousel slide w-100" data-ride="carousel">
                                <div class="carousel-inner" role="listbox">
                                    <div class="carousel-item active">
                                        <div class="row">
                                            <div *ngFor="let m of getMovies(0,4)" class="col-md-3">
                                                <a class="clickable" (click)="onClick(m)">
                                                    <div [ngSwitch]="m.Poster==='N/A' || m.Poster !=='N/A' ">
                                                        <img class="img-fluid img-thumbnail card-img card-img-top " *ngSwitchCase="m.Poster !=='N/A' " src="{{m.Poster}} ">
                                                        <img class="img-fluid img-thumbnail card-img-top " *ngSwitchCase=" m.Poster==='N/A' " src="http://www.novelupdates.com/img/noimagefound.jpg ">
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="carousel-item">
                                        <div class="row">
                                            <div *ngFor="let m of getMovies(4,8)" class="col-md-3">
                                                <a class="clickable" (click)="onClick(m)">
                                                    <div [ngSwitch]="m.Poster==='N/A' || m.Poster !=='N/A' ">
                                                        <img class="img-fluid img-thumbnail card-img card-img-top " *ngSwitchCase="m.Poster !=='N/A' " src="{{m.Poster}} ">
                                                        <img class="img-fluid img-thumbnail card-img-top " *ngSwitchCase=" m.Poster==='N/A' " src="http://www.novelupdates.com/img/noimagefound.jpg ">
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="carousel-item">
                                        <div class="row">
                                            <div *ngFor="let m of getMovies(8,10)" class="col-md-3">
                                                <a class="clickable" (click)="onClick(m)">
                                                    <div [ngSwitch]="m.Poster==='N/A' || m.Poster !=='N/A' ">
                                                        <img class="img-fluid img-thumbnail card-img card-img-top " *ngSwitchCase="m.Poster !=='N/A' " src="{{m.Poster}} ">
                                                        <img class="img-fluid img-thumbnail card-img-top " *ngSwitchCase=" m.Poster==='N/A' " src="http://www.novelupdates.com/img/noimagefound.jpg ">
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>